<div class="container mx-auto">
  <header
    class="flex justify-start items-center gap-2 bg-gray-100 p-2 px-4 border-b border-gray-300 mb-4"
  >
    <button>
      <img src="/assets/svg/document-cloud.svg" alt="Save" />
    </button>
    <button>
      <img src="/assets/svg/document-code.svg" alt="Download" />
    </button>
    <button>
      <img src="/assets/svg/document-download.svg" alt="Download" />
    </button>
  </header>

  <div class="grid grid-cols-12 md:grid-cols-12 gap-4 mb-4">
    <div class="col-span-2 p-2">
      <div class="grid grid-cols-12 md:grid-cols-12 gap-4 mb-4">
        <div class="col-span-6" *ngFor="let bg of backgrounds">
          <img
            [src]="bg"
            class="w-full max-w-16 h-auto rounded shadow-xl cursor-pointer border"
            alt="Background Image"
            (click)="setBackground(bg)"
          />
        </div>
      </div>
    </div>

    <div class="col-span-8">
      <div class="text-center">
        <canvas
          id="myCanvas"
          width="800"
          height="600"
          class="border-black border"
          (contextmenu)="showContextMenu($event)"
        >
        </canvas>
        <label for="svgFile">Upload SVG File:</label>
        <input
          type="file"
          id="svgFile"
          accept=".svg"
          (change)="handleFileInput($event)"
          class="mt-2"
        />
      </div>
    </div>

    <div class="col-span-2">
      <div class="text-center">
        <!-- ... -->
        <input
          type="checkbox"
          id="freeDrawing"
          (change)="toggleFreeDrawing($event)"
        />
        <label for="freeDrawing">Enable Free Drawing</label>
      </div>
      <!-- Active drawing mode -->

      <input
        type="color"
        id="drawingColor"
        value="#000000"
        (change)="changeDrawingColor($event)"
      />
      <label for="drawingColor">Drawing Color</label>
      <!-- Add drawing Color -->

      <input
        type="range"
        id="brushSize"
        min="1"
        max="100"
        value="1"
        (change)="changeBrushSize($event)"
      />
      <label for="brushSize">Brush Size</label>
      <!-- Add brush size -->

      <button (click)="clearCanvas()">Clear Canvas</button>
      <!-- Add clear canvas -->
    </div>

    <!-- <div
      id="contextMenu"
      class="hidden bg-white border rounded shadow-md p-2"
      style="position: absolute"
    > -->
    <!-- <button (click)="addLabel()">Add Label</button> -->
    <!-- </div> -->

    <app-right-click-menu
      [x]="mouseX"
      [y]="mouseY"
      (menuItemSelected)="onMenuItemSelected($event)"
      [isVisible]="isMenuVisible"
    >
    </app-right-click-menu>
  </div>
</div>
